@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');




body{
    font-size: larger;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    width: 1000px;
    margin: 60px auto;
}
.Titulo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
}

a:hover{
    background-color: rgba(255, 255, 255, 0.877);
    transition: 0.4s;
    color: black;
}

.menu{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(65,105,225,1) 16%, rgba(2,0,36,1) 100%); 
    height: 10vh;
    justify-content:space-around;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 5px black;
    font-weight: bold;
    
}

.itens-lista{
    display: flex;
}

li{
    list-style: none;
}

a{
    margin-left: 10vh;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}


#img2{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}


#img1{
    width: 300px; 
    height: 200px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.Atomo{
    text-align: center;
}

#logo{
    height: 80%;
    width: 7vh;
}

#Foto_Faixa{
    padding-top: 15px;
    padding-bottom: 15px;
}
#absorção{
    padding-top: 15px;
}
#absorção2{
    padding-top: 15px;
    width: 55vh;
}
#foto_semicondutor{
    margin-bottom: 15px;
}